USE [master]
GO
/****** Object:  Database [KhunMaungNgwe]    Script Date: 12/23/2025 1:14:47 PM ******/
CREATE DATABASE [KhunMaungNgwe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KhunMaungNgwe', FILENAME = N'C:\Users\Lenovo\KhunMaungNgwe.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KhunMaungNgwe_log', FILENAME = N'C:\Users\Lenovo\KhunMaungNgwe_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KhunMaungNgwe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KhunMaungNgwe]
GO
/****** Object:  Table [dbo].[EmployeeEXT]    Script Date: 12/23/2025 1:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeEXT](
	[EmployeeID] [uniqueidentifier] NOT NULL,
	[EmpID] [nvarchar](100) NULL,
	[SalaryID] [int] NULL,
	[UserID] [int] NULL,
	[MemberID] [uniqueidentifier] NULL,
	[SupervisorID] [int] NULL,
	[StartWorkDate] [datetime] NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[ActiveFlag] [bit] NULL,
	[CompanyId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_EmployeeEXT] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[File]    Script Date: 12/23/2025 1:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File](
	[Id] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](250) NOT NULL,
	[Path] [nvarchar](250) NOT NULL,
	[ContentType] [nvarchar](250) NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedTime] [datetime] NULL,
	[ActiveFlag] [bit] NOT NULL,
 CONSTRAINT [PK_File] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 12/23/2025 1:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[UGroupID] [nvarchar](50) NULL,
	[GroupName] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[ActiveFlag] [bit] NULL,
	[RoleID] [int] NULL,
	[CompanyId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberInfo]    Script Date: 12/23/2025 1:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberInfo](
	[MemberID] [uniqueidentifier] NOT NULL,
	[IDCard] [bigint] NULL,
	[Prefix] [nvarchar](20) NULL,
	[FirstName] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Mobile] [nvarchar](20) NULL,
	[EMail] [nvarchar](100) NULL,
	[Department] [nvarchar](max) NULL,
	[Levels] [nvarchar](max) NULL,
	[PathImage] [nvarchar](max) NULL,
	[CompanyId] [uniqueidentifier] NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[ActiveFlag] [bit] NOT NULL,
	[Gender] [nvarchar](20) NULL,
	[ContactName] [nvarchar](50) NULL,
 CONSTRAINT [PK_MemberInfo] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/23/2025 1:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedTime] [datetime] NULL,
	[ActiveFlag] [bit] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/23/2025 1:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [uniqueidentifier] NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[Stock] [int] NOT NULL,
	[SellingPrice] [decimal](18, 2) NOT NULL,
	[ProfitPerItem] [decimal](18, 2) NOT NULL,
	[CreatedBy] [nvarchar](250) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedTime] [datetime] NULL,
	[ActiveFlag] [bit] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEmp_Group]    Script Date: 12/23/2025 1:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEmp_Group](
	[TEmp_Group_ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[GroupID] [int] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[ActiveFlag] [bit] NULL,
 CONSTRAINT [PK_TEmp_Group] PRIMARY KEY CLUSTERED 
(
	[TEmp_Group_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEmp_Role]    Script Date: 12/23/2025 1:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEmp_Role](
	[TEmp_Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[RoleID] [int] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[ActiveFlag] [bit] NULL,
 CONSTRAINT [PK_TEmp_Role] PRIMARY KEY CLUSTERED 
(
	[TEmp_Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/23/2025 1:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](250) NULL,
	[Password] [nvarchar](250) NULL,
	[Role] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[CreatedTime] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedTime] [datetime] NULL,
	[ActiveFlag] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 12/23/2025 1:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](50) NULL,
	[RoleName] [nvarchar](50) NULL,
	[CompanyID] [uniqueidentifier] NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[ActiveFlag] [bit] NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/23/2025 1:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProfileID] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Password] [nvarchar](max) NULL,
	[Gender] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[JoinDate] [datetime] NULL,
	[ProfilePic] [nvarchar](max) NULL,
	[Thumbnail] [nvarchar](max) NULL,
	[ActiveFlag] [bit] NULL,
	[UserType] [nvarchar](50) NULL,
	[Compare] [nvarchar](max) NULL,
	[SaltHash] [varbinary](max) NULL,
	[SaltAes] [varbinary](max) NULL,
	[PinCode] [nvarchar](50) NULL,
	[TotalSuccessful] [int] NULL,
	[DailyAverage] [int] NULL,
	[DailyAverageDate] [datetime] NULL,
	[Positions] [nvarchar](50) NULL,
	[RoleID] [int] NULL,
	[UserRole] [int] NULL,
	[ForceReset] [bit] NULL,
	[LockStatus] [bit] NULL,
	[CompanyId] [uniqueidentifier] NULL,
	[MemberID] [uniqueidentifier] NULL,
	[PasswordUpdateDate] [datetime] NULL,
	[GoalMinutes] [int] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[IsEnable] [bit] NULL,
	[DeviceID] [nvarchar](500) NULL,
	[Lock] [bit] NOT NULL,
	[Noti] [bit] NOT NULL,
	[Finger_Face] [bit] NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PolicyTypeM] [bit] NULL,
	[PolicyTypeW] [bit] NULL,
	[EmailCheck] [bit] NULL,
	[Language] [nvarchar](15) NULL,
	[LanguageUserView] [nvarchar](15) NULL,
	[DepartmentId] [int] NULL,
	[LineUserID] [nvarchar](300) NULL,
	[EmailLanguage] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeEXT] ADD  CONSTRAINT [DF_EmployeeEXT_EmployeeID]  DEFAULT (newid()) FOR [EmployeeID]
GO
ALTER TABLE [dbo].[MemberInfo] ADD  CONSTRAINT [DF_MemberInfo_MemberID]  DEFAULT (newid()) FOR [MemberID]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Lock]  DEFAULT ((0)) FOR [Lock]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Noti]  DEFAULT ((1)) FOR [Noti]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Finger_Face]  DEFAULT ((1)) FOR [Finger_Face]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Product]
GO
USE [master]
GO
